<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./index.css" />
        <title>Welcome to Yohan's website!</title>
    </head>
    <!-- background should be graident with orange yello green 45 degree and when I scroll down, the color variation is change also -->
    <!-- Add music player also.  -->
    <body>
        <nav>
            <ul class="navigation-container">
                <li class="navigation-item">
                    <a href="#about" class="navigation-link"
                        ><span>About</span></a
                    >
                </li>
                <li class="navigation-item">
                    <a href="#story" class="navigation-link"
                        ><span>Story</span></a
                    >
                </li>
                <li class="navigation-item">
                    <a href="#projects" class="navigation-link"
                        ><span>Projects</span></a
                    >
                </li>
                <li class="navigation-item">
                    <a href="#contact" class="navigation-link"
                        ><span>Contact</span></a
                    >
                </li>
                <li class="navigation-item">
                    <a href="#resume" class="navigation-link"
                        ><span>Resume</span></a
                    >
                </li>
            </ul>
        </nav>

        <header class="header">
            <div class="header-text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">Hello</span><br /><span
                        class="heading-primary--sub"
                        >I'm Yohan</span
                    >
                </h1>
            </div>
        </header>

        <main>
            <section class="about-section" id="about">
                <div class="content-container-left">
                    <h2>About</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris accumsan est convallis bibendum porta. Nam velit
                        arcu, accumsan et condimentum ac, dictum non tellus. In
                        hac habitasse platea dictumst. Duis vel magna accumsan,
                        dignissim sem quis, accumsan est. Integer nec feugiat
                        ligula. Vivamus at est diam. Pellentesque cursus
                        pharetra enim ut luctus. Duis eget faucibus massa.
                        Quisque luctus elementum fermentum. Quisque suscipit
                        nulla et ante posuere, quis molestie diam molestie.
                        Praesent luctus eros id arcu pretium, at pretium odio
                        congue. Aenean eu odio suscipit, egestas nisl et,
                        sagittis dui.
                    </p>
                </div>
            </section>
            <section class="story-section" id="story">
                <div class="content-container-right">
                    <h2>Story</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris accumsan est convallis bibendum porta. Nam velit
                        arcu, accumsan et condimentum ac, dictum non tellus. In
                        hac habitasse platea dictumst. Duis vel magna accumsan,
                        dignissim sem quis, accumsan est. Integer nec feugiat
                        ligula. Vivamus at est diam. Pellentesque cursus
                        pharetra enim ut luctus. Duis eget faucibus massa.
                        Quisque luctus elementum fermentum. Quisque suscipit
                        nulla et ante posuere, quis molestie diam molestie.
                        Praesent luctus eros id arcu pretium, at pretium odio
                        congue. Aenean eu odio suscipit, egestas nisl et,
                        sagittis dui.
                    </p>
                </div>
            </section>
            <section class="project-section" id="projects">
                <div class="content-container-left">
                    <h2>Projects</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris accumsan est convallis bibendum porta. Nam velit
                        arcu, accumsan et condimentum ac, dictum non tellus. In
                        hac habitasse platea dictumst. Duis vel magna accumsan,
                        dignissim sem quis, accumsan est. Integer nec feugiat
                        ligula. Vivamus at est diam. Pellentesque cursus
                        pharetra enim ut luctus. Duis eget faucibus massa.
                        Quisque luctus elementum fermentum. Quisque suscipit
                        nulla et ante posuere, quis molestie diam molestie.
                        Praesent luctus eros id arcu pretium, at pretium odio
                        congue. Aenean eu odio suscipit, egestas nisl et,
                        sagittis dui.
                    </p>
                </div>
            </section>
            <section class="contact-section" id="contact">
                <div class="content-container-right">
                    <h2>Contact</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris accumsan est convallis bibendum porta. Nam velit
                        arcu, accumsan et condimentum ac, dictum non tellus. In
                        hac habitasse platea dictumst. Duis vel magna accumsan,
                        dignissim sem quis, accumsan est. Integer nec feugiat
                        ligula. Vivamus at est diam. Pellentesque cursus
                        pharetra enim ut luctus. Duis eget faucibus massa.
                        Quisque luctus elementum fermentum. Quisque suscipit
                        nulla et ante posuere, quis molestie diam molestie.
                        Praesent luctus eros id arcu pretium, at pretium odio
                        congue. Aenean eu odio suscipit, egestas nisl et,
                        sagittis dui.
                    </p>
                </div>
            </section>
            <section class="resume-section" id="resume">
                <div class="content-container-left">
                    <h2>Resume</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris accumsan est convallis bibendum porta. Nam velit
                        arcu, accumsan et condimentum ac, dictum non tellus. In
                        hac habitasse platea dictumst. Duis vel magna accumsan,
                        dignissim sem quis, accumsan est. Integer nec feugiat
                        ligula. Vivamus at est diam. Pellentesque cursus
                        pharetra enim ut luctus. Duis eget faucibus massa.
                        Quisque luctus elementum fermentum. Quisque suscipit
                        nulla et ante posuere, quis molestie diam molestie.
                        Praesent luctus eros id arcu pretium, at pretium odio
                        congue. Aenean eu odio suscipit, egestas nisl et,
                        sagittis dui.
                    </p>
                </div>
            </section>
        </main>

        <footer>
            <div class="footer-container"></div>
        </footer>
    </body>
</html>
