/* Color Setup */
:root {
    --white: #eeeeee;
    --light-grey: #bdbdbd;
    --dark-grey: #757575;
    --primary-color: #000000;
    --accent-color: #448aff;
    --highlight-polygon: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/* Basic Setup */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Resuable Components */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* Headings */
h1,
h2,
h3 {
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: var(--accent-color);
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* Paragraphs */
.logn-copy {
    line-height: 145%;
}

.small {
    font-size: smaller;
    text-align: center;
}

.paragraph__subheading {
    margin-left: 20px;
    font-size: 90%;
    text-transform: uppercase;
    color: var(--light-grey);
}

.text__container {
    margin-bottom: 60px;
}

/* Footer */
.footer-container {
    height: 100px;
    vertical-align: baseline;
    bottom: 0;
}

.footer-text {
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

/* List */
li {
    list-style-type: none;
}

/* Icon */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    display: inline-block;
    font-size: 110%;
    margin-right: 20px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.contact-link:link,
.contact-link:visited {
    font-size: 180%;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.contact-link:hover,
.contact-link:active {
    color: var(--accent-color);
    transition: all 0.4s;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    /* background-color: var(--primary-color); */
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    left: 6rem;
    border-radius: 50%;
    z-index: 5;
    text-align: center;
    cursor: pointer;
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    display: none;
    background-color: var(--accent-color);
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    width: 0;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: var(--accent-color);
    transform: translateX(1rem);
}

.navigation__icon {
    position: relative;
    margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: var(--white);
}

.navigation__icon::before,
.navigation__icon::after {
    content: '';
    position: absolute;
    right: 0;
    transition: all 0.2s;
}

.navigation__icon::before {
    top: -1rem;
}

.navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked ~ .navigation__link:active {
    transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
    display: inherit;
    opacity: 1;
    width: 100%;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.navigation__item {
    margin: 1rem;
}

.navigation__link {
    display: inline-block;
    width: 600px;
    font-weight: 300;
    font-size: 240%;
    text-align: center;
    clip-path: var(--highlight-polygon);
}

.navigation__link:link,
.navigation__link:visited {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-style: none;
    background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        /* var(--accent-color) 50% */ var(--primary-color) 50%
    );
    background-size: 220%;
    transition: all 0.5s;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: var(--primary-color);
    color: var(--accent-color);
    transform: scale(1.2);
}

header {
    width: 100%;
    height: 80vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

section {
    width: 100%;
    margin: 0 auto;
}

.content-container {
    width: 50%;
    margin: 100px auto 0px;
    padding: 100px 60px 100px;
    transition: all 0.6s ease-out;
    transform: skewY(2deg) skewX(5deg) scale(0.8);
}

.content-container:active,
.content-container:hover {
    transform: scale(1.2);
}

/* Links */
a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--white);
}
