<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css"
        />
        <link rel="stylesheet" href="./index.css" />
        <!--     Font     -->
        <link
            href="https://fonts.googleapis.com/css?family=Lato:100i,300,300i,400&display=swap"
            rel="stylesheet"
        />

        <title>Welcome to Yohan's website!</title>
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <input
                    type="checkbox"
                    class="navigation__checkbox"
                    id="navigation-toggle"
                />
    
                <label for="navigation-toggle" class="navigation__button">
                    <span class="navigation__icon">&nbsp;</span>
                    &nbsp;
                </label>
    
                <div class="navigation__background">&nbsp;</div>
                <nav class="navigation__nav" id="navigation-toggle-menu">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="#home" class="navigation__link">Home</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#about" class="navigation__link">About</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#project" class="navigation__link">Project</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#contact" class="navigation__link">Contact</a>
                        </li>
                        <li class="navigation__item">
                            <a
                                href="https://drive.google.com/file/d/1mmHUoYclntSdGCEMFwmlEv6YvWZRqnCN/view?usp=sharing"
                                class="navigation__link"
                                >Resume</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
    
            <header class="header" id='home'>
                <div class="header__textbox">
                    <h1>Thank you for visiting</h1>
                </div>
            </header>
    
            <main>
                <section class="section" id="about">
                    <div class="section__content">
                        <h1>About</h1>
                        <div class="text__container">
                            <p>
                                Hello, I'm Yohan. Thank you for visiting my website!
                            </p>
                            <p class="long-copy">
                                I believe that our fingertips can make a better
                                world. As a software developer, I wish my code is
                                working in the real world and contributing to our
                                society and community. 
                            </p>
                            <p class="long-copy">
                                To create a better program, I
                                do not hesitate to refactor my code. Attitude to
                                find the best solution for a problem is my asset.
                                The intense passion for programming made me start to
                                join an open-source. Self-learning with a passion
                                for programming is a nutrient to be a better
                                programmer.
                            </p>
                        </div>
                    </div>
                    <div class="section__content">
                        <h2>Skills</h2>
                        <div class="text__container">
                            <h3>Programming Languages</h3>
                            <span class="paragraph__subheading"
                                >JavaScript, Typescript, Java, C, C++, C#, Python,
                                Bash, Powershell
                            </span>
                        </div>
                        <div class="text__container">
                            <h3>Database</h3>
                            <span class="paragraph__subheading"
                                >IBM DB2, Oracle Database, PostgreSQL, MySQL,
                                SQLite, MongoDB, Redis
                            </span>
                        </div>
                        <div class="text__container">
                            <h3>Frameworks / Libraries</h3>
                            <span class="paragraph__subheading">
                                Node.js/express, React.js, Redux, SASS, Babel,
                                Webpack, Jest, jQuery, Sequelize, Mongoose, ASP.net,
                                Java EE, JDBC
                            </span>
                        </div>
                        <div class="text__container">
                            <h3>OS / Environments</h3>
                            <span class="paragraph__subheading">
                                Ubuntu, Windows 7, Windows 10, Windows Server 2012,
                                Digital Ocean Droplet, AWS EC2, AWS EBS, AWS Lambda
                            </span>
                        </div>
    
                        <div class="text__container">
                            <h3>Tools</h3>
                            <span class="paragraph__subheading">
                                Nginx, Visual Studio, VSCode, IntelliJ, Eclipse,
                                Figma, Postman, Visio, Trello
                            </span>
                        </div>
                    </div>
                    <div class="section__content">
                        <h2>Experience</h2>
                        <div class="text__container">
                            <h3>Software Developer / IT Analyst</h3>
                            <span class="paragraph__subheading"
                                >Emerson DEC 2019 - SEP 2020</span
                            >
                        </div>
                        <div class="text__container">
                            <h3>ITS Technologist</h3>
                            <span class="paragraph__subheading"
                                >Seneca College Apr 2019 - Aug 2019</span
                            >
                        </div>
                    </div>
                    <div class="section__content">
                        <h2>Education</h2>
                        <div class="text__container">
                            <h3>Computer Programming and Analysis</h3>
                            <span class="paragraph__subheading"
                                >Seneca College JAN 2018 - DEC 2020</span
                            >
                        </div>
                    </div>
                </section>
                <section class="section" id="project">
                    <div class="section__content">
                        <h1>Project</h1>
    
                        <h2>Fleamarket</h2>
                        <div class="text__container">
                            <p>
                                <span class="paragraph__subheading">Github:</span
                                ><a
                                    href="https://github.com/cyh0968/fleamarket-backend"
                                    >backend</a
                                >&nbsp;<a
                                    href="https://github.com/cyh0968/fleamarket-frontend"
                                    >frontend</a
                                >
                            </p>
                            <p>
                                <span class="paragraph__subheading"
                                    >Description</span
                                >
                            </p>
                            <p>
                                <span class="paragraph__subheading"
                                    >Technologies</span
                                >
                            </p>
                        </div>
                        <h2>Employee Management System</h2>
                        <div class="text__container">
                            <p>
                                <span class="paragraph__subheading">Github:</span
                                ><a
                                    href="git@github.com:cyh0968/employee-management-system.git"
                                    >repository</a
                                >
                            </p>
                            <p>
                                <span class="paragraph__subheading"
                                    >Description</span
                                >
                            </p>
                            <p>
                                <span class="paragraph__subheading"
                                    >Technologies</span
                                >
                            </p>
                        </div>
                    </div>
                </section>
                <section class="section" id="contact">
                    <div class="section__content">
                        <h1>Contact</h1>
                        <div class="icon__container">
                            <ul>
                                <li>
                                    <a
                                        href="https://www.linkedin.com/in/yohan-choi-629288155/"
                                        class="contact-link"
                                    >
                                        <ion-icon
                                            name="logo-linkedin"
                                            class="contact-icon"
                                        ></ion-icon
                                        >Linkedin
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://medium.com/@YohanChoi2020"
                                        class="contact-link"
                                    >
                                        <ion-icon
                                            name="logo-medium"
                                            class="contact-icon logo-medium"
                                        ></ion-icon
                                        >MEDIUM
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://github.com/cyh0968"
                                        class="contact-link"
                                    >
                                        <ion-icon
                                            name="logo-github"
                                            class="contact-icon"
                                        ></ion-icon
                                        >GITHUB
                                    </a>
                                </li>
    
                                <li>
                                    <a
                                        href="https://twitter.com/remember2019"
                                        class="contact-link"
                                    >
                                        <ion-icon
                                            name="logo-twitter"
                                            class="contact-icon"
                                        ></ion-icon
                                        >TWITTER
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="malito:remember2019@gmail.com"
                                        class="contact-link"
                                    >
                                        <ion-icon
                                            name="mail-outline"
                                            class="contact-icon"
                                        ></ion-icon
                                        >EMAIL
                                    </a>
                                </li>
    
                                <li>
                                    <a
                                        href="https://drive.google.com/file/d/1mmHUoYclntSdGCEMFwmlEv6YvWZRqnCN/view?usp=sharing"
                                        class="contact-link"
                                    >
                                        <ion-icon
                                            name="document-outline"
                                            class="contact-icon"
                                        ></ion-icon
                                        >RESUME
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>
    
            <footer>
                <div class="footer__container">
                    <div class="footer__text">
                        <p>
                            <span class="small"
                                >&copy; 2020 by Yohan Choi. All rights
                                reserved.</span
                            >
                        </p>
                    </div>
                </div>
            </footer>
        </div>
        
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="./index.js"></script>
    </body>
</html>
