@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
}

body {
    margin: 0 auto;
}

h1 {
}

h2 {
    margin-bottom: 20px;
}

h3 {
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    height: 60px;
    background: #fff;
    z-index: 3;
    border-bottom: 1px solid rgba(122, 122, 122, 0.2);
}

.navigation-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navigation-item {
    display: inline-block;
    font-size: 1.5rem;
}

.navigation-link:link,
.navigation-link:visited {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #000 50%
    );
    background-size: 220%;
    transition: all 0.4s;
}

.navigation-link:hover,
.navigation-link:active {
    background-position: 100%;
    color: white;
    transform: translateX(1rem);
}

header {
    width: 100%;
    height: 80vh;
    margin-top: 60px;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.animation-container {
    width: inherit;
    height: inherit;
    position: absolute;
    display: grid;
    align-content: stretch;
    justify-content: center;
    column-gap: 0px;
    row-gap: 0px;
    z-index: 1;
}

.square {
    width: 10px;
    height: 10px;
    /* border-style: solid; */
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.heading-text-box {
    z-index: -1;
}

.heading-primary--main,
.heading-primary--sub {
    color: black;
    font-size: 3rem;
    font-weight: 300;
    transition: all 2s;
}

.heading-primary--main {
    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

section {
    width: 100%;
    height: 600px;
    min-height: max-content;
    margin: 0 auto;
}

.about-section {
    height: 95vh;
    color: white;
    background-color: black;
    clip-path: polygon(0 200px,100% 0, 100% 600px, 0 100%);
    /* transform: skewY(2deg) skewX(5deg) scale(1); */
}
.story-section {
    height: 800px;
    color: black;
    background-color: grey;
    clip-path: polygon(0 200px,100% 0, 100% 100%, 0 100%);
    /* transform: skewY(-2deg) skewX(-5deg) scale(1); */
}
.project-section {
    height: 800px;
    color: black;
    background-color: white;
    clip-path: polygon(0 200px,100% 0, 100% 600px, 0 100%);
    /* transform: skewY(2deg) skewX(5deg) scale(1); */
}

.contact-section {
    height: 800px;
    color: black;
    background-color: grey;
    clip-path: polygon(0 200px,100% 0, 100% 600px, 0 100%);
    /* transform: skewY(-2deg) skewX(-5deg) scale(1); */
}

.resume-section {
    height: 800px;
    color: white;
    background-color: black;
    clip-path: polygon(0 200px,100% 0, 100% 600px, 0 100%);
    /* transform: skewY(2deg) skewX(5deg) scale(1); */
}

.content-container-left {
    width: 60%;
    margin: 100px auto 100px;
    padding: 100px 60px 100px;
    transition: all 0.6s ease-out;
    transform: skewY(2deg) skewX(5deg) scale(1);
}

.content-container-left:active,
.content-container-left:hover {
    width: 60%;
    margin: 100px auto 100px;
    padding: 100px 60px 100px;
    /* transform: skewY(-2deg) skewX(-5deg) scale(1); */
    transform: scale(1.2);
}

.content-container-right {
    width: 60%;
    margin: 100px auto 100px;
    padding: 100px 60px 100px;
    transition: all 0.6s ease-out;
    transform: skewY(-2deg) skewX(-5deg) scale(1.2); 
}

.content-container-right:active,
.content-container-right:hover {
    width: 60%;
    margin: 100px auto 100px;
    padding: 100px 60px 100px;
    transform: skewY(2deg) skewX(5deg) scale(1.2);
}

/* Links */
a,
a:link,
a:visited {
    text-decoration: none;
}
