@use '../../styles/abstracts' as *;

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.heading {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;

  @include respond(mobile-largest) {
    font-size: 2.2rem;
  }

  @include respond(mobile-small) {
    padding: 0;
    font-size: 4rem;
  }
}

.item {
  list-style: none;
  margin-bottom: 0.3rem;
  transition: transform 0.5s ease;
  &::before {
    margin-right: 0.25rem;
  }

  &:hover {
    transform: scale(1.2);
  }
}
