$length: 200px;

$positions: (
  'front': rotateY(0deg) translateZ($length / 2),
  'right': rotateY(90deg) translateZ($length / 2),
  'back': rotateY(180deg) translateZ($length / 2),
  'left': rotateY(-90deg) translateZ($length / 2),
  'top': rotateX(90deg) translateZ($length / 2),
  'bottom': rotateX(-90deg) translateZ($length / 2),
);

@each $key, $value in $positions {
  .#{$key} {
    transform: $value;
  }
}

.cubeFace {
  width: $length;
  height: $length;
  border: 2px solid var(--dark-grey);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  background-color: var(--low-opacity-dark-gray);
}
