/* Footer */
.footerContainer {
    margin-top: 2rem;
    bottom: 0;
}

.footerContact {
    display: flex;
    justify-content: center;
}

.footerText {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
