@use 'sass:math';

$length: 200px;
$width: $length * 2;
.container {
    position: relative;
    width: $length;
    height: $width;
    perspective: $length * 2.5;
    margin: $length / 2;
}

.slider {
    width: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.slide {
    width: $width;
    height: $length;
    border: 2px solid var(--white);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    background-color: var(--light-grey);
    transition: transform 1s ease;
}

.current {
    transform: translateZ(0);
}

.previous {
    transform: translateZ(-100px) translateX(-50%);
}

.next {
    transform: translateZ(-100px) translateX(50%);
}

.ready {
    transform: translateZ(-200px);
}

.waiting {
    display: none;
}

.previousButton,
.nextButton {
    position: absolute;
    z-index: 500;
    top: 20%;
    width: auto;
    margin-top: 3rem;
    color: var(--white);
    font-size: 4rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 1s ease;
}

.previousButton {
    left: -100%;
    border-radius: 0 3px 3px 0;
}

.nextButton {
    right: -100%;
    border-radius: 3px 0 0 3px;
}

.previousButton:hover,
.nextButton:hover {
    background-color: var(--primary-color);
}
