.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 1rem auto 1rem;
}

.headingXl {
  margin-bottom: 1.5rem;
  color: var(--white);
  font-weight: 500;
  font-size: 1.8rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: center;

  &::after {
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 0.5rem;
    background-color: var(--white);
    content: '';
  }
}

.content {
  text-align: left;
  ul {
    padding: 1.5rem 3rem;
  }
}
