@use '../../styles/abstracts' as *;

.title {
  font-size: 1.5rem;
  @include respond(mobile-largest) {
    font-size: 1.8rem;
  }

  @include respond(mobile-small) {
    font-size: 3rem;
  }
}

.details {
  display: block;
  color: var(--light-grey);
  font-size: 0.9rem;
  @include respond(mobile-largest) {
    font-size: 1.08rem;
  }

  @include respond(mobile-small) {
    font-size: 1.8rem;
  }
}
