/* Section */
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: solid 1px var(--white);
}

.sectionLeft {
    width: 20%;
    display: flex;
    justify-content: center;
}

.sectionRight {
    width: 50%;
}

.leftHeading {
    color: var(--white);
    font-weight: 900;
    font-size: 5rem;
    word-spacing: 4px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
}

.rightHeading {
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: var(--white);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}
