@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    height: 100vh;
}

.leftAlign {
    display: block;
    animation: moveInLeft 1s ease-in;
    text-align: left;
}

.rightAlign {
    display: block;
    animation: moveInRight 1s ease-in;
    text-align: right;
}

.intro {
    position: fixed;
    width: 60vw;
    z-index: 0;
    margin: 0 auto;
    @media only screen and (max-width: 64rem) {
        width: 90vw;
    }
}

.introText {
    color: var(--white);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-size: 3.5rem;
    font-weight: 700;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.primary {
    position: relative;
    padding-right: 5rem;
    &::before {
        display: block;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        height: 40rem;
        content: '';
    }
}

// -webkit-font-smoothing: antialiased;
// -webkit-text-stroke-color: var(--white);
// -webkit-text-stroke-width: 1px;
