@use '../../../styles/abstracts' as *;

.container {
  position: relative;

  @include respond(mobile-medium) {
  }

  @include respond(mobile-small) {
  }
}

.iFrame {
  width: 40rem;
  height: 22.5rem;
}

.title {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @include respond(mobile-medium) {
    font-size: 1.6rem;
  }

  @include respond(mobile-small) {
    font-size: 1.8rem;
  }
}
