@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');
/* Color Variables Setup */
:root {
    --white: #eeeeee;
    --low-opacity-white: rgba(255, 255, 255, 0.2);
    --low-opacity-light-gray: rgba(189, 189, 189, 0.2);
    --light-grey: #bdbdbd;
    --dark-grey: #757575;
    --primary-color: #000000;
    --accent-color: #448aff;
    --highlight-polygon: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

/* Basic Setup */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 125%; /* 1rem = 20px = 16px * 1.25 */
    text-rendering: optimizeLegibility;
}

/* Media Queries */
@media only screen and (max-width: 34rem) {
    html {
        font-size: 100%;
    }
}
