/* Headings */

.heading2Xl {
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-size: 2.4rem;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.headingXl {
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;

    &::after {
        display: block;
        height: 0.1rem;
        background-color: var(--accent-color);
        content: '';
        width: 5rem;
        margin: 0 auto;
        margin-top: 1.5rem;
    }
}

.headingLg {
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;
}

.headingMd {
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-grey);
}

// /* Links */
// a,
// a:link,
// a:visited {
//     text-decoration: none;
//     color: var(--white);
// }

// a:hover,
// a:active {
//     color: var(--accent-color);
//     transition: all 0.4s;
// }

// li::before {
//     /* content: '\25CF';  */
//     margin-right: 0.25rem;
// }
// /* List */
// li {
//     list-style: none;
//     margin-bottom: 0.3rem;
// }

// /* Paragraphs */
// .long-copy {
//     line-height: 1.45;
// }

// .small {
//     font-size: smaller;
//     text-align: center;
// }

// .text-container {
//     margin-bottom: 3rem;
//     text-align: center;
//     z-index: 1;
// }

// .paragraph {
//     width: 25rem;
//     margin: 0 auto 0.5rem;
//     font-size: 0.9rem;
//     /* text-align: center; */
//     color: var(--white);
// }

// .details {
//     margin-top: 1rem;
//     display: block;
//     font-size: 1.1rem;
//     text-transform: uppercase;
// }

// .details::after {
//     display: block;
//     width: 3rem;
//     height: 0.1rem;
//     margin: 1rem auto;
//     content: '';
//     background-color: var(--accent-color);
// }
